[MASTER]
extension-pkg-allow-list=pydantic
disable=
  R0902, # too-many-instance-attributes
  R0912, # too-many-branches
  R0914, # too-many-locals
  R0915, # too-many-statements
  R0903, # too-few-public-methods
  W0511, # fixme
  C0114, # missing-module-docstring
  C0115, # missing-class-docstring
  C0116  # missing-function-docstring
